@using Orchard.Search.ViewModels;

@{
    var searchText = new SearchViewModel();
    if (Model.ViewModel != null) {
        searchText = (SearchViewModel)Model.ViewModel;
    }
}

@using (Html.BeginForm("index", "search", new { area = "Orchard.Search", culture = WorkContext.CurrentCulture }, FormMethod.Get, new { @class = "navbar-form navbar-right navbar-search search-form" })) {
    <div class="form-group">
        @Html.TextBox("q", searchText.Query, new { placeholder = "Search", @id="qm" })
        @Html.Hidden("culture", WorkContext.CurrentCulture, new { @id = "culturem" })
    </div>
}